h1{
    text-align: center;
}

.corps{
    position: relative;
    left: 600px;
    top: 50px;
    display: inline-block;
}

.conn{
    position: relative;
    left: 330px;
    top: 90px;
    display: inline-block;
}

.inscr{
    position: relative;
    top: 90px;
    left: 390px;
    display: inline-block;
}

